// Entry point for application specific styles
.buttons {
  .btn {
    width: 60%;
    margin: 10px 20%;
    border-radius: 20px;
  }
}

.toggle {
  width: 32px;
  height: 32px;
  border-radius: 8px;
  border: 1px solid white;
  background-color: black;
  cursor: pointer;

  line {
    stroke-width: 3px;
  }

  .x { display: none; }
  &.active .x { display: block; }
}

.header-section {
  position: relative;
  margin: 10px 5%;
}

#loop-toggle {
  position: relative;
  width: 100px;

  .label {
    position: relative;
    left: 45px;
    height: 40px;
    line-height: 40px;
    font-size: 1rem;
  }

  .toggle {
    position: absolute;
    top: 0;
    left: 0;
  }
}

#granular-toggle {
  position: absolute;
  top: 0;
  left: 100px;

  .label {
    position: relative;
    left: 45px;
    height: 40px;
    line-height: 40px;
    font-size: 1rem;
  }

  .toggle {
    position: absolute;
    top: 0;
    left: 0;
  }
}

#home-button {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 0;
  right: 0;
  z-index: 10;
  background-image: url(../images/home.jpg);
  background-size: cover;
}
